#entry
  text-align: center
  width: 300px
  margin: auto

#updateEntryForm input
#updateEntryForm textarea
#updateEntryForm select
  margin-bottom: 15px

#updateButton
  margin-bottom: 15px

#overview
  text-align: left
