body
  background #eee
  color #666666

.navbar
  margin-bottom 10px
  .navbar-inner
    -webkit-border-radius 0px 0px 3px 3px
    -moz-border-radius 0px 0px 3px 3px
    -ms-border-radius 0px 0px 3px 3px
    -o-border-radius 0px 0px 3px 3px
    border-radius 0px 0px 3px 3px

#spinner
  height 300px

